<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a href="/" class="navbar-brand fw-bold fs-3 ms-5">Gaming Hub</a>
            <form action="/" method="get" class="d-flex me-5" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" name="search" value="<%= searchQuery %>" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
<main>

    